* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
}

.container {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  background-color: darkolivegreen;
}

.header-logo {
  width: 160px;
  height: 100%;
  background-color: darkorange;
}

img {
  width: 160px;
  height: 100%;
}

nav {
  width: 100%;
  background-color: darkred;
}

.nav-list {
  height: 100%;
  text-align: right;
  line-height: 70px;
  background-color: darkslateblue;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  background-color: darkturquoise;
}

.nav-list-item a {
  color: #fafafa;
  text-decoration:none;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img2/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-title {
  color: #fafafa;
  font-size: 64px;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
}

.main-visual-text {
  color: #fafafa;
  font-size: 20px;
  text-align: center;
}

.main {
  width: 100%;
  background-color: darkgray;
}

.contents1 {
  background-color: cadetblue;
  height: 100px;
  width: 920px;
  margin: 0 auto;
}

.contents2 {
  background-color: darkkhaki;
  height: 100px;
  width: 980px;
  margin: 0 auto;
}

.contents3 {
  background-color: cornflowerblue;
  height: 100px;
  width: 1024px;
  margin: 0 auto;
}

.contents4 {
  background-color: mediumorchid;
  height: 100px;
  width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
}

footer p {
  color: #fafafa;
  font-size: 16px;
}