* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
}

.container {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: darkolivegreen;
}

.header-logo {
  height: 70px;
  background-color: darkorange;
}

img {
  width: 160px;
  height: 100%;
}

nav {
  display: block;
  height: 100%;
  background-color: darkred;
}

.nav-list {
  display: flex;
  height: 100%;
  background-color: darkslateblue;
}

.nav-list-item {
  width: 120px;
  line-height: 70px;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  background-color: darkturquoise;
}

.nav-list-item a {
  color: #fafafa;
  text-decoration:none;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img2/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-title {
  color: #fafafa;
  font-size: 64px;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
}

.main-visual-text {
  color: #fafafa;
  font-size: 20px;
  text-align: center;
}

.main-contents {
  height: 100%;
  width: 100%;
  background-color: darkgray;
}

.main-contents1 {
  background-color: darkslateblue;
  height: 100%;
  width: 100%;
}

.contents1 {
  background-color: #eceff1;
  height: 100%;
  width: 920px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.contents-title {
  color: #000000;
  font-size: 32px;
  text-align: center;
  padding-bottom: 8px;
}

.border {
  width: 70px;
  margin: 0 auto;
  border-bottom: 3px solid #ec715f ;
}

.contents-text {
  color: #000000;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contents1-image {
  background-color: darkseagreen;
  height: 510px;
  display: flex;
  flex-wrap: wrap;
}

.contents1-image1 {
  background-image: url(img2/sketch.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  margin: 0 10px 10px 0;
}

.contents1-image2 {
  background-image: url(img2/websuku.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  margin: 0 10px 10px 0;
}

.contents1-image3 {
  background-image: url(img2/write.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  margin-bottom: 10px;
}

.contents1-image4 {
  background-image: url(img2/webcamp.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  margin-right: 10px;
}

.contents1-image5 {
  background-image: url(img2/talk.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
  margin-right: 10px;
}

.contents1-image6 {
  background-image: url(img2/webcamp-mother.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 300px;
}

.main-contents2 {
  background-color: darkslategray;
  height: 100%;
  width: 100%;
}

.contents2 {
  height: 100%;
  width: 980px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-top: 90px;
  padding-bottom: 90px;
}

.contents2-strength {
  background-color: darkseagreen;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.contents2-strength1 {
  background-color: deepskyblue;
  height: auto;
  width: 320px;
  margin-right: 10px;
}

.contents2-strength2 {
  background-color: gold;
  height: auto;
  width: 320px;
  margin-right: 10px;
}

.contents2-strength3 {
  background-color: indianred;
  height: auto;
  width: 320px;
}

.fas {
  height: auto;
  width: 320px;
  text-align: center;
  font-size: 60px;
  padding-top: 10px;
}

.main-contents3 {
  background-color: midnightblue;
  height: 100%;
  width: 100%;
}

.contents3 {
  background-color: #eceff1;
  height: 100%;
  width: 1024px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.contents3-profile {
  background-color: mediumpurple;
  width: 1024px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  width: 512px;
  height: auto;
}

.image {
  width: 250px;
  height: 250px;
  background-image: url(img2/my-icon.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-text {
  width: 512px;
  height: auto;
}

.name, .skill {
  font-size: 20px;
  padding-bottom: 5px;
}

.name-text, .skill-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.main-contents4 {
  background-color: darkgoldenrod;
  height: 100%;
  width: 100%;
}

.contents4 {
  height: 100%;
  width: 800px;
  margin: 0 auto;
  background-color: #fafafa;
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact-info {
  background-color: plum;
  width: 800px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-direct {
  height: auto;
  width: 400px;
  background-color: powderblue;
}

.contact-sns {
  height: auto;
  width: 400px;
  background-color: rosybrown;
}

.direct, .sns {
  font-size: 20px;
  padding-bottom: 5px;
}

.email-adress {
  padding-bottom: 20px;
}

.sns-icon {
  display: flex;
}

.fab {
  font-size: 50px;
  margin-right: 20px;
}

footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
}

footer p {
  color: #fafafa;
  font-size: 16px;
}